*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;    // 1rem = 16px
    @include respond(big-desktop) {
        font-size: 108%;    // 1rem = 18px
    }
    @include respond(tab-land) {
        font-size: 56.25%;  // 1rem = 9px
    }
    @include respond(tab-port) {
        font-size: 50%;     // 1rem = 8px
    }
    @include respond(phone) {
        font-size: 50%;
    }
}

body {
    line-height: 1.7;
    box-sizing: border-box;
}

.link {
    color: black;

    &:hover {
        color: black;
        text-decoration: none;
     }
}